<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%= orderInfo.orderId %>
            </p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b>
                            <% const [day,month,date,year]=orderInfo.createdAt.toString().split(' ') %>
                        <%= `${date}-${month}-${year}, ${day}` %></b>
                  </span> <br>
                  
              </div>
              
          </div>
      </header> <!-- card-header end// -->
      <div class="card-body">
          <div class="row mb-50 mt-20 order-info-wrap">
              <div class="col-md-4">
                  <article class="icontext align-items-start">
                      <span class="icon icon-sm rounded-circle bg-primary-light">
                          <i class="text-primary material-icons md-person"></i>
                      </span>
                      <div class="text">
                          <h6 class="mb-1">Customer</h6>
                          <p class="mb-1">
                            <%= orderInfo.userId.name %> 
                              <br> <%= orderInfo.userId.phone %>
                          </p>
                          
                      </div>
                  </article>
              </div> <!-- col// -->
              <div class="col-md-4">
                  <article class="icontext align-items-start">
                      <span class="icon icon-sm rounded-circle bg-primary-light">
                          <i class="text-primary material-icons md-local_shipping"></i>
                      </span>
                      <div class="text">
                          <h6 class="mb-1">Order info</h6>
                          <p class="mb-1">
                              Pay method: <%= orderInfo.PaymentMethod %> <br> Status: new
                          </p>
                          <a href="#">Download info</a>
                      </div>
                  </article>
              </div> <!-- col// -->
              <div class="col-md-4">
                  <article class="icontext align-items-start">
                      <span class="icon icon-sm rounded-circle bg-primary-light">
                          <i class="text-primary material-icons md-place"></i>
                      </span>
                      <div class="text">
                          <h6 class="mb-1">Deliver to</h6>
                          <p class="mb-1">
                            <%= orderInfo.DeliveryAddress.FullName %> <br> <%= orderInfo.DeliveryAddress.HouseAddress %> <br> <%= orderInfo.DeliveryAddress.City %> <br> <%= orderInfo.DeliveryAddress.State %> <br> <%= orderInfo.DeliveryAddress.PostalCode %>
                          </p>
                          
                      </div>
                  </article>
              </div> <!-- col// -->
          </div> <!-- row // -->
          <div class="row">
              <div class="col-lg-10">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th width="40%">Product</th>
                                  <th width="20%">Unit Price</th>
                                  <th width="20%">Quantity</th>
                                  <th width="20%" class="text-end">Total</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% orderInfo.Products.forEach(product => { %>
                              <tr>
                                  <td>
                                      <a class="itemside" href="#">
                                          <div class="left">
                                              <img src="/images/products_image/<%=product.proId.ProductImages[0] %>" style="height: 5rem;width: 5rem;" class="img-xs"
                                                  alt="Item">
                                          </div>
                                          <div class="info"> <%= product.proId.ProductTitle %> </div>
                                      </a>
                                  </td>
                                  <td>₹ <%= product.proId.ProductPricing %> </td>
                                  <td> <%= product.quantity %> </td>
                                  <td class="text-end"> ₹ <%= product.proId.ProductPricing * product.quantity %> </td>
                              </tr>
                              <% }) %>
                              <tr>
                                  <td colspan="4">
                                      <article class="float-end">
                                          <dl class="dlist">
                                              <dt>Subtotal:</dt>
                                              <dd> ₹ <%= orderInfo.TotalAmount %></dd>
                                          </dl>
                                          <dl class="dlist">
                                              <dt>Shipping cost:</dt>
                                              <dd>₹ 0</dd>
                                          </dl>
                                          <dl class="dlist">
                                              <dt>Grand total:</dt>
                                              <dd> <b class="h5">₹ <%= orderInfo.TotalAmount %></b> </dd>
                                          </dl>
                                          <dl class="dlist">
                                              <dt class="text-muted">Status:</dt>
                                              <dd>
                                                <% if(orderInfo.Status==' Pending') { %>
                                <span class="badge rounded-pill alert-danger text-danger">Payment Incomplete</span>
                                <% }else if(orderInfo.Status==='Returned' || orderInfo.Status==='Cancelled' ) { %>
                                    <span class="badge rounded-pill alert-success text-success">Refund to Wallet</span>
                                    <% }else if(orderInfo.PaymentMethod==='COD' ) { %>
                                        <span class="badge rounded-pill alert-success text-success">Cash On
                                            Delivery</span>
                                        <% }else{ %>
                                            <span class="badge rounded-pill alert-success text-success">Payment
                                                Done</span>
                                            <% } %>
                                                </dd>
                                                </dl>
                                                </article>
                                                </td>
                                                </tr>
                                                </tbody>
                                                </table>
                </div> <!-- table-responsive// -->
            </div> <!-- col// -->
            <div class="col-lg-1"></div>



    </div>
    </div>
    </div>
</section>