
<div class="mobile-header-active mobile-header-wrapper-style">
  <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
          <div class="mobile-header-logo">
              <a href="/"><img src="assets/imgs/theme/EzyMart.jpg" alt="logo"></a>
          </div>
          <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
              <button class="close-style search-close">
                  <i class="icon-top"></i>
                  <i class="icon-bottom"></i>
              </button>
          </div>
      </div>
      <div class="mobile-header-content-area">
          
          <div class="mobile-menu-wrap mobile-header-border">
              
              <!-- mobile menu start -->
              <nav>
                  <ul class="mobile-menu">
                      <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                          
                      </li>
                      <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                          
                      </li>
                      
                  </ul>
              </nav>
              <!-- mobile menu end -->
          </div>
          <div class="mobile-header-info-wrap mobile-header-border">
              <div class="single-mobile-header-info mt-30">
                  <a  href="page-contact.html"> Our location </a>
              </div>
              <div class="single-mobile-header-info">
                  <% if (locals.user){%>
                      <a href="/logout">Hi <%= user.name %> | logout</a>
                  <%}else{%>
                     </i><a href="/signin">Log In / Sign Up</a>
                  <%} %>
              </div>
              <div class="single-mobile-header-info">
                  <a href="#">(+01) - 2345 - 6789 </a>
              </div>
          </div>
          <div class="mobile-social-icon">
              <h5 class="mb-15 text-grey-4">Follow Us</h5>
              <a href="/"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
              <a href="/"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
              <a href="/"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
              <a href="/"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
              <a href="/"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
          </div>
      </div>
  </div>
</div>
    <main class="main">
      <div class="page-header breadcrumb-wrap">
        <div class="container">
          <div class="breadcrumb">
            <a href="/" rel="nofollow">Home</a>
            <span></span> My account
            <span></span> Order details
          </div>
        </div>
      </div>
      <section class="mt-70 mb-60">
        <div class="container">
          <div class="row order-wrap mx-auto">
            <div >
              <% if(orderInfo.Status == 'Delivered'){%>
                <a href="/invoice/<%=orderInfo.orderId %>"><button id="" class="btn btn-sm btn-secondary">
                  <i class="fi-rs-shopping-bag mr-5"></i>Download Invoice
                </button></a>
              <%} %>
            </div>
            <div class="text-end mb-60">
              <a href="/allorders" class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up">Back to all orders</a>
            </div>
          </div>
          <div class="row order-wrap mx-auto">
            <div class="col-4 pe-3">
              <h4 class="mb-35 text-brand">Delivery Address</h4>
              <div class="table-responsive">
                <table class="table shopping-summery">
                  <tbody>
                    <tr>
                      <!-- TODO exeption if no category is found -->
                      <td><h5>Name: </h5></td>
                      <td><b><h6><%=orderInfo.DeliveryAddress.FullName %></h6></b></td>
                    </tr>
                    <tr>
                      <td><h5>Phone: </h5></td>
                      <td><b><h6><%=orderInfo.DeliveryAddress.Phone %></h6></b></td>
                    </tr>
                    <tr>
                      <td><h5>Address: </h5></td>
                      <td><b><h6><%=orderInfo.DeliveryAddress.HouseAddress %></h6></b></td>
                    </tr>
                    <tr>
                      <td><h5>Zipcode: </h5></td>
                      <td><b><h6><%=orderInfo.DeliveryAddress.PostalCode %></h6></b></td>
                    </tr>
                    <tr>
                        <td><h5>City: </h5></td>
                        <td><b><h6><%=orderInfo.DeliveryAddress.City %></h6></b></td>
                      </tr>
                    <tr>
                      <td><h5>State: </h5></td>
                      <td><b><h6><%=orderInfo.DeliveryAddress.State %></h6></b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-4">
              <h4 class="mb-35 text-brand">Order Details</h4>
              <table class="table shopping-summery">
                <tbody>
                  <tr>
                    <td><h5>Order ID: </h5></td>
                    <td><h6><%=orderInfo.orderId %></h6></td>
                  </tr>
                  <tr>
                    <td><h5>Items: </h5></td>
                    <td><h6><%=orderInfo.Products.length %></h6></td>
                  </tr>
                  <tr>
                    <td><h5>Order Status: </h5></td>
                    <td><h6><%=orderInfo.Status %></h6></td>
                  </tr>
                  <tr>
                    <td><h5>Date: </h5></td>
                    <td>
                        <h6>
                        <% const date = new Date(orderInfo.createdAt); %>
                        <%=`${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}` %>
                        </h6>
                    </td>
                  </tr>
                  <tr>
                    <td><h5>Payment Method: </h5></td>
                    <td><h6><%=orderInfo.PaymentMethod %></h6></td>
                  </tr>
                  <tr>
                    <td><h5>Total Amount: </h5></td>
                    <td><h6>Rs <%=orderInfo.TotalAmount %></h6></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section class="mt-50 mb-70">
        <div class="container">
          <div class="row order-wrap mx-auto">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table shopping-summery text-center">
                  <thead>
                    <tr class="main-heading">
                      <th scope="col">Image</th>
                      <th scope="col">Product</th>
                      <th scope="col">Unit price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col">Order Status</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                   <% orderInfo.Products.forEach((item)=>{%>
                    
                    <tr class="-tr">
                      <td class="image product-thumbnail">
                          <img style="height: 3rem;" src="/images/products_image/<%=item.proId.ProductImages[0] %>"  alt="#">
                        </a>
                      </td>
                      <td class="product-des product-name">
                        <h5 class="product-name"><%=item.proId.ProductTitle %></h5>
                      </td>
                      <td class="text-center"><h5><%=item.proId.ProductPricing %></h5></td>
                      <td class="text-center"><h5><%=item.quantity %></h5></td>
                      <td class="price" data-title="Price"><h5><%=item.subTotal %></h5></span></td>
                      <td class="text-center" >
                        <span class="color3 font-weight-bold">
                          <% if(orderInfo.Status =='Placed' ){%>
                            <span class="badge rounded-pill alert-warning"><%=orderInfo.Status %></span>
                          <%}else if(orderInfo.Status == 'Intransit'){%>
                            <span class="badge rounded-pill alert-info"><%=orderInfo.Status %></span>
                          <%}else if(orderInfo.Status == 'Delivered'){%>
                            <span class="badge rounded-pill alert-success"><%=orderInfo.Status %></span>
                          <%}else if(orderInfo.Status == 'Cancelled'){%>
                            <span class="badge rounded-pill alert-danger"><%=orderInfo.Status %></span>
                          <%}else{%>
                            <span class="badge rounded-pill alert-dark"><%=orderInfo.Status %></span>
                          <%} %>
                          
                        </span>
                      </td>
                      
                      
                    </tr>
                    <%}) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script></script>