<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="assets/imgs/theme/EzyMart.jpg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">

            <div class="mobile-menu-wrap mobile-header-border">

                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>

                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>

                        </li>

                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <% if (locals.user){%>
                        <a href="/logout">Hi <%= user.name %> | logout</a>
                        <%}else{%>
                            </i><a href="/signin">Log In / Sign Up</a>
                            <%} %>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="/"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="/"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="/"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="/"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="/"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="product-detail accordion-detail">
                    <div class="row mb-50">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/images/products_image/<%=product.ProductImages[0]%>"
                                            alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/images/products_image/<%=product.ProductImages[1]%>"
                                            alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/images/products_image/<%=product.ProductImages[2]%>"
                                            alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/images/products_image/<%=product.ProductImages[3]%>"
                                            alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/images/products_image/<%=product.ProductImages[0]%>"
                                            alt="product image"></div>
                                    <div><img src="/images/products_image/<%=product.ProductImages[1]%>"
                                            alt="product image"></div>
                                    <div><img src="/images/products_image/<%=product.ProductImages[2]%>"
                                            alt="product image"></div>
                                    <div><img src="/images/products_image/<%=product.ProductImages[3]%>"
                                            alt="product image"></div>


                                </div>
                            </div>
                            <!-- End Gallery -->

                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h2 class="title-detail">
                                    <%=product.ProductTitle %>
                                </h2>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> CATEGORY: <%=product.ProductCategory %></span>
                                    </div>

                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">Rs <%=product.ProductPricing %></span></ins>

                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p>
                                        <%=product.ProductDescription %>
                                    </p>
                                </div>
                                <div class="product_sort_info font-xs mb-30">
                                    <ul>
                                        <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 1 Day Return
                                            Policy</li>
                                        <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                        </li>
                                    </ul>
                                </div>

                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">

                                    <div class="product-extra-link2">
                                        <% if(product.ProductQuantity <=0){%>
                                            <button class="button button-add-to-cart">Out of Stock</button>
                                            <%}else{%>
                                                <button type="submit" onclick="addToCart('<%=product._id%>')"
                                                    class="button button-add-to-cart">Add to
                                                    cart</button>
                                                <%} %>

                                    </div>
                                </div>

                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
</section>
<script>
    function addToCart(proId) {
        $.ajax({
            url: '/add-to-cart/' + proId,
            method: 'get',
            success: (response) => {
                console.log(response, 'ppppppppp')
                if (response.status) {
                    let count = $('#cart-count').html()
                    count = parseInt(count) + 1;
                    $('#cart-count').html(count)
                    $('#cart-count-mobile').html(count)
                    toastr.success('Item added to Cart', '', {
                        positionClass: 'toast-top-right',
                        width: '100px'
                    })
                } else {
                    toastr.warning('You have to login first')
                }
            }
        })
    }
</script>